faker
fastapi==0.115.5 
starlette==0.40.0 
uvicorn==0.30.6
pydantic
pandas
tqdm
psycopg2
python-dotenv
google.generativeai
celery[redis] redis
websockets
rq
python-multipart
elasticsearch==8.15.0